In [1]:
from dataclasses import dataclass

In [2]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __repr__(self):
        return f"Person(name={self.name},age={self.age})"

    def __eq__(self, other):
        return self.name == other.name and self.age == other.age

    def __ne__(self, other):
        return not self.__eq__(other)


person = Person("Rakesh", 21)
print(person)

Person(name=Rakesh,age=21)

In [3]:
@dataclass
class Person1:
    name: str
    age: int
    profession: str


person1 = Person1("Rakesh", 21, "Student")
print(person1)

Person1(name='Rakesh', age=21, profession='Student')

The **@dataclass** decorator automatically creates the __init__(),__repr__,__eq__() methods

In [4]:
@dataclass
class Person2:
    name: str
    age: int
    profession: str = "Student"


person2 = Person2("Rakesh", 21)
print(person2)
person2.profession = "AI"
print(person2)

Person2(name='Rakesh', age=21, profession='Student')
Person2(name='Rakesh', age=21, profession='AI')

## Immutable class

In [5]:
@dataclass(frozen=True)
class Point:
    x: int
    y: int


point = Point(3, 4)
print(point)

Point(x=3, y=4)

In [6]:
try:
    point.x = 9
except Exception as e:
    print(f"The Error is: {e}")

The Error is: cannot assign to field 'x'

# Inheritance

In [7]:
@dataclass
class Student:
    name: str
    age: int
    department: str


@dataclass
class College(Student):
    id: int
    code: int


college = College("Rakesh", 21, "CSE(AI&ML)", 9, 101)
print(college)

College(name='Rakesh', age=21, department='CSE(AI&ML)', id=9, code=101)

# Nested dataclass

In [8]:
@dataclass
class Address:
    street: str
    city: str
    zip_code: int


@dataclass
class Student:
    name: str
    age: int
    address: Address


address = Address("Bahadurpally", "Hyderabad", 500043)
student = Student("Rakesh", 21, address)
print(student)

Student(name='Rakesh', age=21, address=Address(street='Bahadurpally', city='Hyderabad', zip_code=500043))